# NodeJS
node_modules
/build
/.svelte-kit
/package
vite.config.*.timestamp-*
/.wrangler

# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/

# MacOS
.DS_Store

# Misc
.env
.env.*
!.env.example
